.display {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(25deg, #6a4cd6, hsl(197, 83%, 61%) 50%);
}

.mainContainer {
  background-color: ivory;
  width: 600px;
  position: relative;
  border-radius: 10px;
  padding: 2rem;

}